/* Partie générale du body */
body
{
    font-family: Raleway, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.img-responsive
{
    max-width:100%;
    height:auto;
}
.container
{
    display: inherit;
    padding: 5px;
    width:100%;
    margin-right:auto;
    margin-left:auto;
}


/* Header */
header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo, .nav
{
    width: 50%;
}
.logo img
{
    width: 15%;
}
.nav ul
{
    display: flex;
    padding-left: 12%;
    margin-bottom: 0;
    list-style: none;
    justify-content: flex-end;
}
.nav li
{
    padding-left: inherit;
}
.nav li a
{
    padding: 27px 10px 0 10px;
    text-decoration: none;
    font-weight:500 ;
    color: black;
}
.nav li .join a
{
    color: #0065FC;
}
.nav li a:hover, .nav li a:active
{
    border-top: 3px #0065FC solid ;
    color: #0065FC;
}

/* Section Recherche et filtres */
.lead h3
{
    margin: 0;
    font-weight:bold;
    color: black;
}
.descrip
{
    margin: 0 0 1em 0;
    font-size: 15px;
}
.lg-4
{
    width: 40%;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group-text {
    
    align-items: center;
    padding: 12px;
    font-size: 1rem;
    border-radius: 10px 0 0 10px;
    color: black;
    background-color: #F2F2F2;
}
.form-control
{
    padding: 10px;
    font-weight: 800;
    border: 1px solid #f1f1f1;
}
.send_search
{
    background: #0065FC;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 14px;
}
.filters
{
    display: flex;
}
.filters p
{
    display: flex;
    align-items: center;
    font-weight: 800;
}
.filters ul 
{
    display: flex;
    width: 55%;
    justify-content: space-around;
    list-style-type: none;
}
.filters ul li 
{
    padding: 7px 12px 7px 20px;
    border: #dbdbdb 2px solid;
    border-radius: 50px;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
.filters ul a
{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
.filters ul li:hover
{
    background: #0065FC;
    color: white;
    border: #DEEBFF solid 2px;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
.filters ul li i 
{
    margin: -10px 10px -10px -22px;
    padding: 11px;
    background: #DEEBFF;
    color: #0065FC;
    border-radius: 50px;
}
.lead .info
{
    font-size: 14px;
    display: flex;
    align-items: center;

}
.lead .info i
{
    font-size: 11px;
    color: #0065FC;
    padding: 4px 7px 4px 7px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    margin-right: 1%;
}



/* Section Hébergements */
#hebergements
{
    display: flex;
}
.bloc_hebergements
{
    background: #F2F2F2;
    padding: 5px 30px 0 30px;
    border-radius: 2%;
    width: 70%;
}
.bloc_hebergements .content_elements
{
    margin-bottom: 10%;
    display: flex;
    height: 13%;
}
.bloc_hebergements .content_elements .elements
{
    width: 25%;
    height: 100%;
    background: white;
    padding: 5px 5px 40px 5px;
    border-radius: 20px;
    margin-right: 3%;
}
.bloc_hebergements .content_elements .elements a
{
    text-decoration: none;
    color: black;
}
.bloc_hebergements .content_elements .elements a .cadre_photo
{
    overflow : hidden;
    height: 85%;
    border-radius: 20px 20px 0 0;
}
.bloc_hebergements .content_elements .elements a .cadre_photo img
{ 
    position: relative;
    top : -20px;
}
.bloc_hebergements .content_elements .elements h4, .bloc_hebergements .content_elements .elements p
{
    display: flex;
    margin: auto;
    padding: 2px 6px 2px 6px;
    font-size: 13px;
}
.price
{
    font-weight: 900;
    padding-left: 4px;
}
.notes
{
    display: flex;
    color: #F2F2F2;
    font-size: 13px;
    padding: 2px 6px 2px 6px;
}
.notes .star-blue
{
    color: #0065FC;
}
.bloc_populaires
{
    width: 30%;
    background: #F2F2F2;
    padding: 5px 30px 0 30px;
    border-radius: 2%;
}
.bloc_populaires .content_elements
{
    display: flex;
    flex-direction: column;
}




@media (min-width:576px)
{
    .container
    {
        max-width:540px;
    }
}
@media (min-width:768px)
{
    .container
    {
        max-width:720px;
    }
}
@media (min-width:992px)
{
    .container
    {
        max-width:960px;
    }
}@media (min-width:1200px)
{
    .container
    {
        max-width:1140px;
    }
}
@media (min-width:1400px)
{
    .container
    {
        max-width:1320px;
    }
}
.col-lg-auto
{
    flex:0 0 auto;width:auto;
}
.col-lg-1
{
    flex:0 0 auto;width:8.3333333333%;
}
.col-lg-2
{
    flex:0 0 auto;width:16.6666666667%;
}
.col-lg-3
{
    flex:0 0 auto;width:25%;
}
.col-lg-4
{
    flex:0 0 auto;width:33.3333333333%;
}
.col-lg-5
{
    flex:0 0 auto;width:41.6666666667%;
}
.col-lg-6
{
    flex:0 0 auto;width:50%;
}
.col-lg-7
{
    flex:0 0 auto;width:58.3333333333%;
}
.col-lg-8
{
    flex:0 0 auto;width:66.6666666667%;
}
.col-lg-9
{
    flex:0 0 auto;width:75%;
}
.col-lg-10
{
    flex:0 0 auto;width:83.3333333333%;
}
.col-lg-11
{
    flex:0 0 auto;width:91.6666666667%;
}
.col-lg-12
{
    flex:0 0 auto;width:100%;
}
