/* Partie générale du body */
body
{
    font-family: Raleway, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: xxx-large; 
}
.img-responsive
{
    max-width:100%;
    height:auto;
}
.container
{
    display: inherit;
    padding: 5px;
    width:100%;
    margin-right:auto;
    margin-left:auto;
}


/* Header */
header
{
    display: block;
    flex-direction: row;
    justify-content: center;
}
.logo
{
    width: 35%;
}
.nav
{
    width: 100%;
    border-bottom: 5px solid #F2F2F2;
    padding: 0% 9% 5% 0%;
    margin-left: -40px;
}
.nav .liens
{
    display: flex;
    justify-content: space-around;
}
.nav .liens .element
{
    position: absolute;
    left: 62%;
    top: 4%;
}
.nav .liens .responsive
{
    margin: 0 19% 0 -5%;
}
.logo img
{
    width: 100%;
}
.nav ul
{
    display: flex;
    padding-left: 12%;
    margin-bottom: 0;
    list-style: none;
    justify-content: flex-end;
}
.nav li
{
    padding-left: inherit;
}
.nav li a
{
    padding: 0 0 45px 10px;
    text-decoration: none;
    font-weight:500 ;
    color: black;
    margin-left: inherit;
}
.nav li .join a
{
    color: #0065FC;
}
.nav li a:hover, .nav li a:active
{
    border-bottom: 5px #0065FC solid ;
    color: #0065FC;
}

/* Section Recherche et filtres */
.lead h3
{
    margin: 0;
    font-weight:bold;
    color: black;
    font-size: 1.3em;
}
.descrip
{
    margin: 4% 0 4% 0;
    font-size: 20px;
}
.lg-4
{
    width: 100%;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    padding: 7% 0 2% 0;
}
.input-group-text {
    
    align-items: center;
    padding: 40px;
    font-size: 1em;
    border-radius: 30px 0 0 30px;
    color: black;
    background-color: #F2F2F2;
}
.form-control
{
    padding: 40px;
    font-weight: 800;
    border: 1px solid #f1f1f1;
    font-size: 0.8em;
}
.send_search
{
    background: #0065FC;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 14px;
    display: none;
}
.input-group .responsive
{
    display: inline-block;
    font-size: xx-large;
    padding: 5%;
    border-radius: 30px;
}
.filters p
{
    align-items: center;
    font-weight: 800;
}
.filters ul 
{
    display: flex;
    width: auto;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
    padding: initial;
    font-size: larger;
}
.filters ul li 
{
    color: black;
    font-weight: 800;
    padding: 10px 12px 10px 20px;
    border: #dbdbdb 2px solid;
    border-radius: 50px;
    margin-bottom: 8%;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
.filters ul li:hover
{
    background: #0065FC;
    color: white;
    cursor: pointer;
    border: #DEEBFF solid 2px;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}
.filters ul li i 
{
    margin: -10px 10px -10px -22px;
    padding: 25px;
    background: #DEEBFF;
    color: #0065FC;
    border-radius: 50px;
}
.lead .info
{
    font-size: 0.8em;
    display: flex;
    align-items: center;

}
.lead .info i
{
    font-size: 0.8em;
    color: #0065FC;
    padding: 2% 3% 2% 3%;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    margin-right: 3%;
}



/* Section Hébergements */
#hebergements
{
    display: inline-grid;
    width: 100%;
}
.bloc_hebergements
{
    order: 1;
    flex-wrap: wrap;
    margin-bottom: auto;
    padding: 10px 20px 20px 20px;
}
.bloc_hebergements h4
{
    display: flex;
    padding: 5px;
}
.bloc_hebergements h4 a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.bloc_hebergements .content_elements
{
    margin-bottom: 5%;
    height: 20%;
    flex-wrap: wrap;
    width: 100%;
}
.bloc_hebergements .content_elements .elements
{
    height: 100%;
    background: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: inherit;
    box-shadow: rgba(0, 0, 0, 0.082) 0 5px 5px 5px;
}
.bloc_hebergements .content_elements .elements:hover
{
    box-shadow: #0065fc 0 10px 5px 0px;
}
.bloc_hebergements .content_elements .elements a
{
    text-decoration: none;
    color: black;
}
.bloc_hebergements .content_elements .elements a .cadre_photo
{
    overflow : hidden;
    height: 300px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.bloc_hebergements .content_elements .elements a .cadre_photo img
{ 
    position: relative;
    top : -48%;
    margin-bottom: -17%;
    width: inherit;
}
.bloc_hebergements .content_elements .elements h4, .bloc_hebergements .content_elements .elements p
{
    display: flex;
    margin: auto;
    padding: 5px 6px 2px 6px;
    font-size: 0.9em;
}
.bloc_hebergements .content_elements .elements .notes
{
    display: flex;
    color: #F2F2F2;
    font-size: 0.7em;
    padding: 10px 6px 5px 6px;
}
.bloc_populaires
{
    background: #F2F2F2;
    padding: 10px 30px 0 30px;
    border-radius: 2%;
}
.bloc_populaires h3
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.bloc_populaires .content_elements
{
    display: flex;
    flex-direction: column;
}
.bloc_populaires .content_elements .elements
{
    height: 100%;
    background: white;
    padding: 10px 0px 10px 10px;
    border-radius: 20px;
    margin-bottom: 5%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.082) 0 5px 5px 5px;
}
.bloc_populaires .content_elements .elements:hover
{
    box-shadow: #0065fc 0 10px 5px 0px;
}
.bloc_populaires .content_elements .elements a
{
    text-decoration: none;
    color: black;
    display: flex;
}
.bloc_populaires .content_elements .elements a .cadre_photo
{
    overflow : hidden;
    display : flex; 
    width : 60%; 
    height : 330px;
    border-radius: 20px 0 0 20px;
}
.bloc_populaires .content_elements .elements a .float_right
{
    display: flex;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}
.bloc_populaires .content_elements .elements a .float_right h3
{
    display: flex;
    margin-top: 25px;
    margin-bottom: 0;
    font-size: inherit;
}
.bloc_populaires .content_elements .elements a .float_right p
{
    display: flex;
    margin: 0;
    font-size: 1em;
    width: 100%;
}
.bloc_populaires .content_elements .elements a .cadre_photo img
{ 
     position : relative;
     left : -9px; 
     top : 0;
     object-fit: cover;
}
.bloc_populaires .content_elements .elements .notes
{
    display: flex;
    color: #F2F2F2;
    font-size: 0.7em;
}

.price
{
    font-weight: 900;
    padding-left: 2%;
}
.notes .star-blue
{
    color: #0065FC;
}


/* Section activités */
#activity
{
    display: flex;
}
.bloc_activity
{
    border-radius: 2%;
    width: 100%;
    margin-bottom: auto;
}
.bloc_activity h3
{
    display: flex;
}
.bloc_activity .content_elements
{
    margin-bottom: 5%;
}
.bloc_activity .content_elements .elements
{
    border-radius: 20px;
    margin-bottom: inherit;
}
.bloc_activity .content_elements .elements .cadre_photo_small1
{
    margin-bottom: 5%;
}
.bloc_activity .content_elements .elements a
{
    text-decoration: none;
    color: black;
}
.bloc_activity .content_elements .elements a .cadre_photo, .cadre_photo_small1, .cadre_photo_small2
{
    overflow : hidden;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.082) 0 5px 5px 5px;
}
.bloc_activity .content_elements .elements a .cadre_photo:hover, .cadre_photo_small1:hover, .cadre_photo_small2:hover
{
    box-shadow: #0065fc 0 10px 5px 0px;
}
.bloc_activity .content_elements .elements a img
{ 
    object-fit: cover;
    height: 280px;
    width: 100%;
}

.bloc_activity .content_elements .elements p
{
    display: flex;
    font-weight: bold;
    padding: 0 10px 2px 5%;
    font-size: 0.8em;
}

/* Footer */
footer
{
    background: #F2F2F2;
    padding: 2% 0 2% 0;
    margin-bottom: -10px;
}
footer .lg-4 ul
{
    padding: 0;
}
footer .lg-4 li
{
    list-style: none;
    padding-bottom: 1%;
}
footer .lg-4 li a
{
    list-style: none;
    padding-bottom: 1%;
    text-decoration: none;
    color: black;
}
footer .lg-4 li a:hover
{
    color: #0065FC;
}
footer .lg-4
{
    width: 100%;
    padding: 2%;
    font-size: large;
}

/* Responsive Media Queries */

@media (min-width:576px)
{
    .container
    {
        max-width:540px;
    }
}

/* Affichage tablette */

@media (min-width:768px)
{
    .container
    {
        max-width:900px;
    }
}

/* Affichage Ordinateur */

@media (min-width:992px)
{
    body
    {
        font-size: medium;
    }
    .container
    {
        max-width:960px;
    }
    .logo
    {
        width: 50%;
    }
    .logo img
    {
        width: 15%;
    }
    header
    {
        display: flex;
    }
    .nav
    {
        width: 50%;
        border: unset;
        padding: unset;
        margin: unset;
    }
    .nav .liens
    {
        justify-content: flex-end;
    }
    .nav .liens .element
    {
        position: initial;
    }
    .nav .liens .responsive
    {
        margin: 0;
    }
    .nav li a 
    {
        padding: 27px 10px 0 10px;
        margin-left: unset;
    }
    .nav li a:hover, .nav li a:active
    {
        border-top: solid #0065FC 5px;
        border-bottom: none;
    }
    .descrip
    {
        margin: 0 0 1em 0;
        font-size: 15px;
    }
    .lg-4
    {
        width: 40%;
    }
    .input-group
    {
        padding: unset;
    }
    .input-group-text
    {
        padding: 12px;
        font-size: 1rem;
        border-radius: 10px 0 0 10px;
    }
    .form-control
    {
        padding: 10px;
    }
    .send_search
    {
        display: block;
    }
    .input-group .responsive
    {
        display: none;
    }
    .filters, .filters p
    {
        display: flex;
    }
    .filters ul
    {
        width: 70%;
        padding: revert;
        font-size: unset;
    }
    .filters ul li 
    {
        padding: 7px 12px 7px 20px;
        margin-bottom: unset;
    }
    .filters ul li i 
    {
        padding: 11px;
    }
    .lead .info, .lead .info i
    {
        font-size: 14px;
    }
    .lead .info i
    {
        margin-right: 1%;
        padding: 4px 7px 4px 7px;
        font-size: 11px;
    }
    #hebergements
    {
        display: flex;
        width: unset;
    }
    .bloc_hebergements
    {
        background: #F2F2F2;
        padding: 10px 30px 30px 30px;
        width: 60%;
        order: unset;
        flex-wrap: unset;
        border-radius: 2%;
        margin-right: 2%;
    }
    .bloc_hebergements .content_elements
    {
        display: flex;
        width: unset;
    }
    .bloc_hebergements .content_elements .elements
    {
        width: 45%;
        padding: 5px;
        margin-right: 3%;
    }
    .bloc_hebergements .content_elements .elements a .cadre_photo
    {
        width: unset;
        height: 108px; 
    }
    .bloc_hebergements .content_elements .elements a .cadre_photo img
    {
        width: unset;
        top: -20px; 
    }
    .bloc_hebergements .content_elements .elements h4, .bloc_hebergements .content_elements .elements p
    {
        font-size: 13px;
    }
    .bloc_hebergements .content_elements .elements .notes
    {
        font-size: 13px;
        padding: 2px 6px 2px 6px;
    }
    .bloc_hebergements h4
    {
        margin-top: -5%;
    }
    .bloc_populaires
    {
        width: 30%;
    }
    .bloc_populaires .content_elements .elements
    {
        padding: 5px;
    }
    .bloc_populaires .content_elements .elements a .cadre_photo
    {
        width: 210px;
        height: 136px;
    }
    .bloc_populaires .content_elements .elements a .float_right h3
    {
        font-size: 1.17em;
    }
    .bloc_populaires .content_elements .elements a .float_right p, .bloc_populaires .content_elements .elements a .float_right .notes
    {
        font-size: 13px;
    }
    .bloc_activity .content_elements
    {
        display: flex;
        width: 104%;
    }
    .bloc_activity .content_elements .elements
    {
        width: 40%;
        height: fit-content;
        margin-right: 4%;
    }
    .bloc_activity .content_elements .elements a .cadre_photo img
    { 
        object-fit: cover;
        height: 420px;
    }
    .bloc_activity .content_elements .elements a .cadre_photo_small1 img
    {
        object-fit: cover;
        height: 212px;
        width: fit-content;
    }
    .bloc_activity .content_elements .elements a .cadre_photo_small2 img
    {
        object-fit: cover;
        height: 90px;
        width: fit-content;
    }
    .bloc_activity .content_elements .elements .cadre_photo_small1
    {
        margin-bottom: 20%;
    }
    .bloc_activity .content_elements .elements p
    {
        padding: 5px 6px 2px 6px;
        font-size: 17px;
    }
    footer
    {
        display: flex;
    }
    footer .lg-4
    {
        padding: unset;
        font-size: unset;
    }
}@media (min-width:1200px)
{
    .container
    {
        max-width:1140px;
    }
    
}@media (min-width:1400px)
{
    .container
    {
        max-width:1320px;
    }
    .bloc_hebergements .content_elements .elements
    {
        width: 29%;
        padding: 5px;
        margin-right: 3%;
    }
    .filters ul
    {
        width: 57%;
        padding: revert;
        font-size: unset;
    }
}


